{% extends 'base.html.twig' %}

{% block body %}
	<h1>Create a Message</h1>
	<form method="POST" action="{{ path('create_new_message') }}">
		<label>
			<input type="text" name="user" placeholder="Username" required>
		</label>
		<label>
			<input type="text" name="text" placeholder="Message" required>
		</label>
		<button type="submit">Send</button>
	</form>
{% endblock %}
